/******************************* theme css **********************************/
.container {
  max-width: 1304px;
  padding: 0 10px;
}
.primary-bg-color {
  background-color: $primary-color !important;
}

.primary-text-color {
  color: $primary-color;
}

.primary-bg-light {
  background-color: $primary-light;
  padding: 0 5px;
}

.spacer {
  background-color: $border-color;
  height: 1px;
}

.dark-bg-color {
  background-color: $headings-color;
}

.text-gray {
  color: $gray-color;
}

.theme-shadow {
  box-shadow: $box-shadow;
}

.text-color {
  color: $text-color;
}

.light-bg {
  background-color: $light-bg;
}

.theme-input {
  width: 100%;
  padding: 24px 25px;
  border-radius: 15px;
  border: 1px solid $light-stroke;
  outline: 0;
  color: $headings-color;
  transition: $transition-base;

  &::placeholder {
    color: $text-color;
  }

  &:focus {
    border-color: $primary-color;
  }
}

.z-2 {
  z-index: 2;
}

.z-5 {
  z-index: 5;
}

.z--1 {
  z-index: -1;
}

.bg-light-white {
  background-color: $light-white;
}
.text-white {
  color: $white-color;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.fs-sm {
  font-size: 14px;
}
.ft-600 {
  font-weight: 600;
}

.sub-title-blue {
  font-weight: 600;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 6px;
  display: inline;
  color: $primary-color !important;
}
.sub-title-white {
  font-weight: 600;
  color: $white-color;
  border-bottom: 1px solid $white-color;
  padding-bottom: 6px;
  display: inline;
}
.fs-20 {
  font-size: 20px;
}
.slider-spacing {
  .slick-list {
    margin: 0 -12px;
    .slick-slide {
      margin: 0 12px;
    }
  }
}
