/******************************* theme css **********************************/
.container {
  max-width: 1304px;
}
.primary-bg-color {
  background-color: $primary-color !important;
}

.primary-text-color {
  color: $primary-color;
}

.primary-bg-light {
  background-color: $primary-light;
}

.spacer {
  background-color: $border-color;
  height: 1px;
}

.dark-bg-color {
  background-color: $headings-color;
}

.text-gray {
  color: $gray-color;
}

.theme-shadow {
  box-shadow: $box-shadow;
}

.text-color {
  color: $text-color;
}

.light-bg {
  background-color: $light-bg;
}

.theme-input::placeholder {
  color: $text-color;
}

.theme-input:focus {
  border-color: $primary-color;
}

.z-2 {
  z-index: 2;
}

.z-5 {
  z-index: 5;
}

.z--1 {
  z-index: -1;
}

.bg-light-white {
  background-color: $light-white;
}
.text-white {
  color: $white-color;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.fs-sm {
  font-size: 14px;
}
