.template-btn {
  padding: 19px 36px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s;
}
.primary-btn {
  background-color: $primary-color;
  color: $white-color;

  &::before {
    content: "";
    position: absolute;
    left: -90px;
    top: -135%;
    width: 190%;
    height: 135%;
    background-color: $headings-color;
    z-index: -1;
    border-radius: 50%;
    transition: all 0.3s;
  }
  &:hover {
    background-color: transparent;
    &::before {
      top: -10px;
    }
  }
}

.menu-toggle {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: $primary-light;
  span {
    width: 20px;
    height: 2px;
    background-color: $primary-color;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
  }
  &::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -145%;
    width: 150%;
    height: 143%;
    background-color: $headings-color;
    z-index: -1;
    border-radius: 40%;
    transition: all 0.3s;
  }

  &:hover {
    color: $white-color;
    span {
      background-color: $white-color;
    }
    &::before {
      top: -6px;
    }
  }
}
