header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s;
  .container {
    .top {
      padding: 10px 0;
      @extend .flex-center-between;
      .info-left {
        width: 65%;
        @extend .flex-align-center;
        gap: 40px;
        a,
        p {
          font-weight: 600;
        }
      }
      .right {
        width: 35%;
        display: flex;
        justify-content: right;
        gap: 45px;
        .lang-dropdown {
          position: relative;
          width: 93px;

          &__button {
            display: flex;
            gap: 5px;
            align-items: center;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: 0.3s;

            &-text {
              font-size: 16px;
            }

            &-icon {
              transition: transform 0.3s;
            }
          }

          &__list {
            width: 95px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            background-color: $white-color;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
            max-height: 700px;
            z-index: 10;

            &.open {
              display: block;
            }

            &-item {
              padding: 10px;
              cursor: pointer;
              transition: 0.3s;

              &:hover {
                background-color: #f0f0f0;
              }
            }
          }
        }
        .info-social {
          display: flex;
          align-items: center;
          gap: 20px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 17px;
            background-color: $text-color;
          }
          a {
            color: $text-color;

            &:hover {
              color: $primary-color;
              svg {
                animation: 0.3s toLeftFromRight forwards;
              }
            }
          }
        }
      }
      @include screen-992 {
        display: none;
      }
    }
    .bottom {
      box-shadow: $box-shadow;
      padding: 0px 40px;
      border-radius: 12px;
      background-color: $white-color;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .main-menu {
        ul {
          display: flex;
          align-items: center;
          li {
            padding: 0 16px;
            position: relative;
            a {
              display: flex;
              font-weight: 600;
              color: $text-color;
              text-transform: uppercase;
              font-size: 14px;
              padding: 44px 0px;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background: $primary-color;
                left: 50%;
                bottom: 25px;
                transition: 0.3s;
              }

              .icon {
                margin-left: 5px;
              }

              &:hover {
                color: $primary-color;
                &::after {
                  width: 100%;
                  left: 0;
                }
              }
            }

            &:hover .main-dropdown-menu {
              opacity: 1 !important;
              visibility: visible !important;
              transform: translateY(0px);
              z-index: 10;
            }

            .main-dropdown-menu {
              z-index: 10;
              opacity: 0;
              visibility: hidden;
              padding: 6px 0 6px 0;
              background: $white-color;
              position: absolute;
              top: 99%;
              left: 0;
              border-radius: 0;
              display: flex;
              flex-direction: column;
              justify-content: left;
              min-width: 220px;
              box-shadow: $box-shadow;
              transform: translateY(20px);
              transition: transform 0.3s ease, opacity 0.3s ease;
              li {
                align-self: flex-start;
                padding: 0 0 0 24px;
                a {
                  color: $text-color;
                  padding: 10px 0;
                  text-align: left;
                  font-weight: 600;
                  &:hover {
                    margin-left: 10px;
                    &::after {
                      left: -20px;
                      top: 49%;
                      width: 10px;
                      height: 2px;
                    }
                  }
                }
              }
            }
          }
        }
        @include screen-992 {
          display: none;
        }
      }

      .right-btn {
        display: flex;
        align-items: center;
        gap: 20px;
        .template-btn {
          @include large-screen {
            display: none;
          }
          @include screen-992 {
            display: inline-flex;
          }
          @include screen-460 {
            display: none;
          }
        }
        .canvas-btn {
          @include screen-992 {
            display: none;
          }
        }

        .mobile-btn {
          display: none;
          @include screen-992 {
            display: flex;
          }
        }
      }
      @include screen-992 {
        padding: 15px;
        border-radius: 0;
      }
    }
    @include screen-992 {
      padding: 0;
    }
  }
  ///////////////////
  ///
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  animation: 1s custom-fadeInDown;
  background-color: $white-color;
  .container {
    max-width: 100%;
    padding: 0;
    background-color: $white-color;
    box-shadow: $box-shadow;

    .content-wrapper {
      max-width: 1320px;
      margin: 0 auto;
      .top {
        display: none !important;
      }
      .bottom {
        border-radius: 0;
        box-shadow: none;
      }
    }
  }
}

/* Offcanvas Styling */
.offcanvus-box {
  width: $offcanvus-width;
  z-index: 100;
  top: 0;
  right: -500px;
  height: 100vh;
  overflow-y: scroll;
  transition: $transition-base;
  box-shadow: $box-shadow;

  &.active {
    right: 0;
  }

  .offcanvus-close {
    position: absolute;
    left: 30px;
    top: 30px;
    color: $primary-color;

    &:hover {
      color: $headings-color;
    }
  }

  .content-top {
    text-align: center;
    padding: 120px $offcanvus-padding 100px;

    p {
      line-height: 26px;
    }
  }

  .offcanvus-gallery {
    padding: 0 $offcanvus-padding;
    gap: 10px;

    a {
      width: calc(33% - 6px);
      overflow: hidden;

      img {
        max-width: 100%;
        transition: $transition-base;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .offcanvus-newsletter {
    padding: 100px $offcanvus-padding;

    input {
      transition: $transition-base;

      &:focus {
        border-color: $primary-color;
      }
    }
    .template-btn {
      justify-content: center;
    }
  }

  .offcanvus-bottom {
    border-top: 1px solid $border-color;
    padding: 20px $offcanvus-padding;
  }

  .user-links {
    a {
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.language-switcher {
  button {
    font-size: 15px;

    img {
      margin-right: 8px;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    border-color: $gray-color;

    li + li {
      border-top: 1px solid $light-color;
    }

    li {
      a {
        padding: 4px 12px;
        display: block;
        color: $primary-color;
        font-size: 15px;

        img {
          margin-right: 8px;
          max-width: 29px;
        }
      }
    }
  }
}

/******** mobile menu *********/
.offcanvas-mobile {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -310px;
  background-color: $white-color;
  z-index: 60;
  padding: 60px 0px;
  overflow-y: scroll;
  transition: $transition-base;

  &.active {
    left: 0 !important;
  }

  .offcanvas-header {
    .close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: $primary-color !important;
    }
  }

  .offcanvas-body {
    padding: 0 24px !important;
    .logo {
      width: 100%;
      display: block;
      background-color: $primary-color;
      text-align: center;
      padding: 30px;
      border-radius: 10px;
    }
    .mobile-menu {
      margin-top: 32px;

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        li {
          position: relative;
          a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $headings-color;
            padding: 10px 0;
            font-weight: 600;
            border-bottom: 1px solid $light-stroke;
            text-transform: capitalize;

            .icon {
              transform: rotate(0deg);
              transition: transform 0.3s ease;
            }
          }

          &:hover {
            a {
              color: $primary-color;

              .icon {
                color: $primary-color;
                transform: rotate(180deg);
              }
            }
          }

          .dropdown-menu {
            position: relative;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            border: none;
            margin-left: 20px;
          }

          &:hover .dropdown-menu {
            max-height: 300px;
            opacity: 1;
            visibility: visible;
            padding-top: 10px;
            padding-bottom: 10px;
          }

          .dropdown-menu li {
            a {
              color: $headings-color;
              padding: 10px 0;
              transition: color 0.3s ease;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }
    }

    .from-wrapper {
      margin-top: 50px;
      form {
        input {
          width: 100%;
          padding: 24px 25px;
          border-radius: 15px;
          border: 1px solid $light-stroke;
          outline: 0;
          color: $headings-color;
          transition: all 0.3s;
        }
      }
      .template-btn {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}
