@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

$template-font: "Albert Sans", sans-serif;
$heading-font: "Albert Sans", sans-serif;
$primary-color: #5044eb;
$secondary-color: #f36a07;
$text-color: #636d78;
$headings-color: #1f1f1f;
$primary-light: rgba(59, 56, 235, 0.1);
$border-color: #eeeeee;
$border-gray: #dedede;
$border-dark: #242424;
$white-color: #ffffff;
$light-color: #f6f6f6;
$light-bg: #fbfafa;
$gray-color: #737373;
$gray-100: #f2f1f9;
$gray-200: #9097a9;
$light-stroke: #eceff2;
$black-color: #000000;
$black-light: #242b3d;
$light-white: #f7f7f7;
$sea-color: #66d5ec;
$box-shadow: 0px 6px 59px rgba(8, 8, 20, 0.11);
$box-shadow-2: 0px 8px 53px rgba(13, 9, 54, 0.05);
$transition-base: all 0.3s;
$hm2-primary-light: #3528bb;
$light-bg-2: #f5f5f5;
$hm2-border-color: #dfdfdf;
$primary-shadow: 0px 5px 35px rgba(65, 50, 218, 0.29);
$hm3-light-bg: #f7f5f2;
$hm4-shadow: 0px 22px 67px rgba(207, 202, 186, 0.4);
$offcanvus-width: 425px;
$offcanvus-padding: 40px;
