.template-btn {
  padding: 19px 36px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
